@import './../assets/fonts/fonts.scss';
@import './normalize.scss';
@import './variables.scss';
@import './App.scss';

#root {
   height: 100%;
}
body {
   font-family: 'Segoe UI', sans-serif;
   background: linear-gradient(90deg, var(--secondary-color) 0%, var(--main-color) 100%);
   overflow-x: hidden;
   font-size: 16px;
   line-height: 1;
   font-weight: 400;
   &.hidden {
      overflow-y: hidden;
   }
   &::-webkit-scrollbar {
      display: none;
   }
}
