@import './../assets/fonts/fonts.scss';
@import './lib/normalize.scss';
@import './lib/variables.scss';
@import './App.scss';

body {
   font-family: var(--main-font);
   font-size: var(--text-fs-normal);
   font-weight: var(--fw-normal);
   line-height: var(--text-lh-normal);
   overflow-x: hidden;
   &.hidden {
      overflow-y: hidden;
   }
   &::-webkit-scrollbar {
      display: none;
   }
}
