
:root  {
   /* -- Colors -- */
   --main-color: #481173;
   --secondary-color: #cb11ab;
   --text-color: #000;
   --background-color: #f6f6fa;
   --orange-color: #f55123;
   --green-color: #0cb477;
}
