.user {
   display: flex;
   align-items: center;
   column-gap: 20px;
   &__name {
      display: flex;
      column-gap: 8px;
      font-size: var(--text-fs-normal);
      font-weight: var(--fw-bold);
      line-height: var(--text-lh-normal);
      &:not(:last-child) {
         margin-bottom: 4px;
      }
   }
   &__image {
      height: 60px;
      width: 60px;
   }
   /*       .user__label {
         font-size: var(--text-fs-small);
         line-height: var(--text-lh-small);
         color: rgba(var(--color-dark), 0.5);
      } */
}
