.card {
   padding: 12px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &_main {
      border-color: rgba(var(--color-dark), 0.06);
      background-color: rgba(var(--color-primary), 0.2);
   }
   &__wrapper {
      display: flex;
      column-gap: 12px;
   }
   &__info {
      font-size: 14px;
      line-height: 143%;
   }
   &__buttons,
   &__info {
      display: flex;
      justify-content: space-between;
   }
   &__image {
      width: 28px;
      height: 20px;
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__label {
      color: rgb(var(--color-dark));
   }
   &__delete {
      opacity: 0;
      transition: opacity var(--transition-slow);
   }
   &:hover {
      .card__delete {
         opacity: 1;
      }
   }
}
