.footer {
   margin-top: -34px;
   padding: 68px 0;
   flex: 1 1 auto;
   background-color: var(--main-color);
   &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }
}

.nav {
   color: white;
   font-size: 18px;
   line-height: 133%;
   &__label {
      font-weight: 700;
   }
   &__list {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      row-gap: 14px;
   }
   &__item {
      opacity: 0.7;
      &:hover {
         opacity: 1;
      }
   }
}
