.button {
   width: 20px;
   height: 20px;
   &_active {
      svg {
         fill: rgb(var(--color-primary));
         stroke: rgb(var(--color-primary));
      }
   }
   @media (any-hover: hover) {
      &:hover {
         svg {
            fill: rgb(var(--color-primary));
            stroke: rgb(var(--color-primary));
         }
      }
   }
}
