.form {
   display: flex;
   column-gap: 10px;
   &__item {
      display: flex;
      align-items: center;
      column-gap: 4px;
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-normal);
   }
}
