.payments {
   &__title {
      margin-bottom: 12px;
      font-size: var(--title-fs-small);
      line-height: var(--title-lh-small);
      font-weight: var(--fw-bold);
   }
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
   }
   &__item {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid lightgray;
      border-radius: var(--br-normal);
      @media (any-hover: hover) {
         &:hover {
            background-color: rgba(211, 211, 211, 0.3);
         }
      }
      &.payments__item_main {
         background: rgb(var(--color-secondary));
      }
   }

   @media (min-width: 1024px) {
      &__title {
         margin-bottom: 20px;
         font-size: var(--text-fs-big);
         line-height: var(--text-lh-small);
      }
      &__list {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 24px;
      }
      &__item {
         padding: 20px;
         min-height: 156px;
         justify-content: center;
         flex: 0 0 calc((100% - (24px * 3)) / 4);
      }
   }
}

.modal {
   padding: 12px 16px 50px;
   width: 100%;
   top: 76%;
   &__title {
      margin-bottom: 20px;
      font-size: var(--text-fs-big);
      line-height: var(--text-lh-small);
      font-weight: var(--fw-bold);
   }
   @media (min-width: 1024px) {
      padding: 28px 40px 40px;
      max-width: 420px;
      top: 50%;
   }
}
