.link {
   display: flex;
   align-items: center;
   column-gap: 10px;
   transition: color var(--transition-fast);
   svg {
      width: 24px;
      height: 24px;
      fill: rgb(var(--color-dark));
      transition: fill var(--transition-fast);
   }
   &_active {
      .link__title {
         color: rgb(var(--color-tertiary));
      }
      svg {
         fill: rgb(var(--color-tertiary));
      }
   }
   @media (any-hover: hover) {
      &:hover {
         color: rgb(var(--color-tertiary));
         svg {
            fill: rgb(var(--color-tertiary));
         }
      }
   }
}
