.link {
   display: flex;
   align-items: center;
   column-gap: 10px;
   transition: color var(--transition-fast);
   &__icon {
      width: 24px;
      height: 24px;
      fill: rgb(var(--dark-color));
      transition: fill var(--transition-fast);
   }
   &_active {
      .link__title {
         color: rgb(var(--color-primary));
      }
      &__icon {
         fill: rgb(var(--color-primary));
      }
   }
   @media (any-hover: hover) {
      &:hover {
         color: rgb(var(--color-primary));
         &__icon {
            fill: rgb(var(--color-primary));
         }
      }
   }
}
