.link {
   display: flex;
   align-items: center;
   column-gap: 10px;
   transition: color var(--transition-fast);
   svg {
      width: 24px;
      height: 24px;
      fill: var(--dark-color);
      transition: fill var(--transition-fast);
   }
   &_active {
      .link__title {
         color: var(--tertiary-color);
      }
      svg {
         fill: var(--tertiary-color);
      }
   }
   @media (any-hover: hover) {
      &:hover {
         color: var(--tertiary-color);
         svg {
            fill: var(--tertiary-color);
         }
      }
   }
}
