.item {
   &__buttons {
      display: flex;
      column-gap: 16px;
   }
   @media (min-width: 1024px) {
      &__buttons {
         opacity: 0;
         transition: opacity var((--transition-slow));
         &:hover {
            opacity: 1;
         }
      }
   }
}
