.item {
   padding-top: 12px;
   display: flex;
   flex-direction: column;
   align-items: start;
   row-gap: 20px;
   @media (min-width: 1024px) {
      justify-content: space-between;
      flex-direction: row;
   }
   @media (max-width: 1024px) {
      &:not(:first-child) {
         margin-top: 20px;
      }
   }
   &__left {
      display: flex;
      align-items: start;
      column-gap: 16px;
   }
   &__label {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 12px;
   }
   &__checkbox {
      background-color: white;
      border-radius: 10px;
      position: absolute;
      top: 4px;
      left: 4px;
   }
   &__body {
      display: flex;
      align-items: start;
      max-width: 275px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      font-size: var(--text-fs-small);
      font-weight: var(--fw-normal);
      line-height: var(--text-lh-smallest);
   }
   &__image {
      width: 80px;
      height: 106px;
      border-radius: var(--br-normal);
      object-fit: contain;
      @media (min-width: 1024px) {
         width: 96px;
         height: 128px;
      }
   }
   &__name {
      font-size: var(--text-fs-normal);
      line-height: 150%;
   }
   &__params {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 8px;
   }
   &__info {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      color: #9797af;
   }
   &__right {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 1024px) {
         min-width: auto;
         justify-content: safe;
         column-gap: 16px;
      }
   }
   &__actions {
      display: flex;
      @media (min-width: 1024px) {
         flex-direction: column;
         row-gap: 16px;
         align-items: flex-end;
      }
   }
   &__buttons {
      display: flex;
      column-gap: 16px;
      @media (min-width: 1024px) {
         opacity: 0;
         transition: opacity var(--transition-slow);
      }
   }
   &__price {
      font-size: var(--text-fs-big);
      font-weight: var(--fw-bold);
      line-height: var(--text-lh-normal);
      letter-spacing: -0.2px;
      @media (min-width: 1024px) {
         text-align: right;
         width: 200px;
      }
   }
   @media (min-width: 1024px) {
      &:hover {
         .item__buttons {
            opacity: 1;
         }
      }
   }
}
