.body {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 18px;
   text-align: center;
   &__title {
      font-size: var(--title-fs-big);
      font-weight: var(--fw-bold);
      line-height: var(--text-lh-small);
   }
   &__text {
      font-size: var(--text-fs-normal);
      line-height: var(--title-lh-small);
      color: rgba(var(--color-dark), 0.5);
   }
   &__button {
      max-width: 210px;
      font-weight: var(--fw-medium);
   }
   &__link {
      display: block;
      padding: 8px 24px 10px;
   }
}
