.card {
   padding: 12px;
   display: flex;
   justify-content: space-between;
   &_main {
      border-color: var(--tertiary-color);
   }
   &__wrapper {
      display: flex;
      column-gap: 12px;
   }
   &__info {
      font-size: 14px;
      line-height: 143%;
   }
   &__image {
      width: 28px;
      height: 20px;
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__label {
      color: rgba(36, 36, 36, 0.5);
   }
   @media (min-width: 1024px) {
      flex-direction: column;
      &_main {
         border-color: rgba(167, 58, 253, 0.06);
         background-color: rgba(167, 58, 253, 0.2);
      }
      &__buttons,
      &__info {
         display: flex;
         justify-content: space-between;
      }
      &__delete {
         opacity: 0;
         transition: opacity ease 0.3s;
      }
      &__label {
         color: rgb(36, 36, 36);
      }
   }
   @media (any-hover: hover) {
      &:hover {
         .card__delete {
            opacity: 1;
         }
      }
   }
}
