.section {
   margin: 0 -10px;
   padding: 8px 10px;
   background-color: rgb(var(--color-white));
   &__title {
      margin-bottom: 12px;
      font-size: var(--title-fs-normal);
      font-weight: var(--fw-bold);
      line-height: var(--title-lh-small);
   }
}
