.indicator {
   padding: 10px 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   background-color: rgb(246, 246, 249);
   border-radius: var(--br-normal);
   &__top {
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-big);
      font-weight: var(--fw-bold);
      span {
         font-size: var(--text-fs-small);
         line-height: var(--text-lh-normal);
         margin-right: 8px;
      }
      &_colored {
         color: rgb(var(--color-tertiary));
      }
   }
   &__bottom {
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-normal);
      color: #868695;
   }
   @media (min-width: 768px) {
      padding: 12px;
      display: block;
      &__top {
         margin-bottom: 8px;
      }
   }
   @media (min-width: 1024px) {
      padding: 20px;
      &__top {
         font-size: var(--text-fs-big);
         line-height: var(--text-lh-small);
         span {
            font-size: var(--text-fs-normal);
            line-height: var(--text-lh-normal);
         }
      }
   }
}
