.indicator {
   padding: 10px 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   background-color: rgb(246, 246, 249);
   border-radius: 12px;
   &__top {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      span {
         font-size: 14px;
         line-height: 20px;
         margin-right: 8px;
      }
      &_colored {
         color: var(--secondary-color);
      }
   }
   &__bottom {
      font-size: 16px;
      line-height: 22px;
      color: #868695;
   }
   @media (min-width: 768px) {
      padding: 12px;
      display: block;
      &__top {
         margin-bottom: 8px;
      }
   }
   @media (min-width: 1024px) {
      padding: 20px;
      &__top {
         font-size: 24px;
         line-height: 32px;
         span {
            font-size: 16px;
            line-height: 22px;
         }
      }
   }
}
