.wrapper {
   padding-top: 26px !important;
   width: 300px;
   @media (min-width: 420px) {
      width: 400px;
   }
   @media (min-width: 768px) {
      width: 600px;
   }
   @media (min-width: 1024px) {
      width: 800px;
   }
}
.form {
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   &__item {
      width: 100%;
   }
   &__button {
      min-height: 44px;
   }
}
