.link {
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__wrapper {
      position: relative;
   }
   &__icon {
      width: 24px;
      height: 24px;
      fill: rgb(var(--color-white));
   }
   &__count {
      width: 16px;
      height: 16px;
      padding: 2px;
      position: absolute;
      top: -12px;
      right: -18px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      line-height: var(--text-lh-small);
      color: rgb(var(--color-white));
      background-color: rgb(var(--color-error));
      border-radius: var(--br-big);
   }
   &__label {
      color: rgba(var(--color-white), 0.7);
      transition: color var(--transition-slow);
   }
   &_active {
      .link__icon {
         fill: rgb(var(--color-white));
      }
   }
   &__body:hover &__label {
      color: rgb(var(--color-white));
   }
}
