.avatar {
   height: 80px;
   width: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: var(--br-circle);
   background-color: rgba(var(--color-dark), 0.06);
   &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
   &__character {
      font-size: var(--title-fs-big);
      font-weight: var(--fw-bold);
      line-height: 1;
      color: rgba(var(--color-dark), 0.2);
   }
}
