.payment {
   &__wrapper {
      display: block;
      padding: 16px 12px;
   }
   &__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 143%;
   }
   &__label {
      color: #868695;
      font-size: 12px;
      line-height: 133%;
   }
}
