.button {
   width: 26px;
   height: 26px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: var(--title-fs-big);
   font-weight: var(--fw-bold);
   background-color: rgba(var(--color-dark), 0.1);
   span {
      line-height: 0.8;
   }
   &:disabled {
      background-color: rgba(var(--color-dark), 0.4);
      cursor: default;
   }
}
