.spoiler {
   width: 100%;
   &__body {
      overflow: hidden;
   }
   &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
   }
   &__arrow {
      transform: rotate(180deg);
      transition: transform var(--transition-slow);
      &_active {
         transform: rotate(0);
      }
   }
   &__icon {
      width: 20px;
      fill: rgba(var(--color-dark), 0.6);
   }
}
