.balance {
   &__wrapper {
      display: block;
      padding: 28px;
   }
   &__title {
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
   }
   &__label {
      display: flex;
      align-items: flex-end;
      column-gap: 6px;
      font-size: 16px;
      line-height: 138%;
   }
   &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      font-size: 11px;
      line-height: 0.8;
      background: linear-gradient(130deg, var(--secondary-color) 0%, var(--main-color) 100%);
      font-weight: 700;
      color: #ffffff;
      border-radius: 0 8px 0 8px;
   }
   &__value {
      color: #868695;
   }
   @media (any-hover: hover) {
      &:hover {
         .balance__title {
            color: var(--tertiary-color);
         }
      }
   }
}
