.form {
   margin-top: 32px;
   &__top,
   &__bottom {
      display: flex;
      column-gap: 24px;
   }
   &__top label {
      flex: 1 1 48%;
   }
   &__bottom label {
      margin-top: 38px;
      flex: 1 1 31%;
   }
}
