.button {
   padding: 12px 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: var(--title-fs-normal);
   font-weight: var(--fw-bold);
   background-color: rgba(var(--color-dark), 0.2);
   span {
      line-height: 0;
   }
   @media (min-width: 1024px) {
      width: 32px;
      height: 32px;
      background-color: rgba(var(--color-dark), 0.3);
      border-radius: var(--br-normal);
      transition: background-color var(--transition-slow);
      @media (any-hover: hover) {
         &:hover {
            background-color: rgba(var(--color-dark), 0.2);
         }
      }
   }
   &:disabled {
      background-color: rgba(var(--color-dark), 0.4);
      cursor: default;
   }
}
