.payment {
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.body {
   margin-top: 16px;
}
.information {
   display: flex;
   column-gap: 8px;
   &__data {
      display: flex;
      column-gap: 12px;
   }
}
