.button {
   width: 100%;
   height: 100%;
   font-size: var(--text-fs-normal);
   line-height: var(--text-lh-big);
   font-weight: var(--fw-bold);
   color: rgb(var(--colors-text-white));
   background: rgb(var(--color-tertiary));
   border: 2px solid rgb(var(--color-tertiary));
   border-radius: var(--br-normal);
   &_change {
      color: rgb(var(--color-tertiary));
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-big);
      font-weight: var(--fw-bold);
   }
   @media (any-hover: hover) {
      &:hover {
         background:rgb(var(--color-tertiary-hovered)) ;
         border-color: rgb(var(--color-tertiary-hovered));
      }
   }
}
