.phone {
   display: flex;
   flex-direction: column;
   row-gap: 4px;
   &__title {
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-small);
      color: rgba(var(--color-dark), 0.5);
   }
}
