.footer {
   
   
   flex: 0 0 none;
   background-color: rgb(var(--color-primary));
   &__container {
      padding: 0 10px;
   }
   & &__column {
      padding: 12px 0;
      color: rgb(var(--color-white));
      border-bottom: 1px solid rgba(var(--color-white), var(--opacity-20));
      &:first-child {
         border-top: 1px solid rgba(var(--color-white), var(--opacity-20));
      }
   }

   @media (min-width: 1024px) {
      margin-top: -34px;
      padding: 68px 0;
      &__container {
         display: grid;
         grid-template-columns: repeat(5, 1fr);
      }
      & &__column {
         border: none;
         &:first-child {
            border: none;
         }
      }
   }
}
