.slider {
   width: calc(100% + 32px);
   padding: 0px 40px 0 16px;
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   &__item {
      overflow: hidden;
   }
   @media (min-width: 1024px) {
      padding: 0;
   }
}
