.cart {
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
   &__column {
      &_big {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap: 8px;
         grid-column: span 3;
      }
   }

   &__slider {
      margin-top: 30px;
      background-color: white;
      border-radius: 24px;
   }
   @media (min-width: 1024px) {
      &__container {
         padding-bottom: 50px;
      }
      &__wrapper {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         column-gap: 10px;
      }
      &__column {
         &_big {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
            grid-column: span 3;
         }
      }
      &__row {
         &_big {
            grid-column: span 2;
         }
      }
   }
   @media (min-width: 1200px) {
      &__container {
         flex-direction: row;
      }
   }
}
