.list {
   display: grid;
   gap: 8px;
   grid-template-columns: repeat(2, 1fr);
   &__item {
      height: 100%;
      overflow: hidden;
      @media (any-hover: hover) {
         &:hover {
            background-color: rgb(var(--color-white));
            border-radius: var(--br-normal);
            box-shadow: 0 0 10px rgba(black, 0.1);
         }
      }
   }
   @media (min-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
   }
   @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
   }
   @media (min-width: 1024px) {
      &__item {
         padding: 16px;
      }
   }
   @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
   }
}
