.checkbox {
   width: 22px;
   height: 22px;
   border: 2px solid var(--secondary-color);
   border-radius: 6px;
   &_active {
      background-color: var(--secondary-color);
   }
   &__mark {
      fill: transparent;
   }
   &_active &__mark {
      fill: white;
   }
}
