.user {
   display: flex;
   column-gap: 16px;
   &__name {
      font-size: 20px;
      line-height: 140%;
      font-weight: 700;
   }
   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      font-size: 28px;
      line-height: 129%;
      color: #c8c8d1;
      background-color: #f1f1f5;
   }
   &__info {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
   }
   &__text {
      font-size: 12px;
      line-height: 133%;
   }
   &__phone,
   &__label {
      display: block;
   }
   &__label {
      color: var(--tertiary-color);
   }
}
