.modal {
   
   &__body {
      padding: 28px 40px 40px;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
   }
   &__title {
      font-size: var(--title-fs-big);
      font-weight: var(--fw-bold);
      line-height: var(--text-lh-small);
   }
}
