.user {
   display: flex;
   align-items: center;
   column-gap: 20px;
   font-weight: 700;
   & &__name {
      font-size: 20px;
      line-height: 140%;
      font-weight: 700;
   }
   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      font-size: 28px;
      line-height: 129%;
      color: #c8c8d1;
      background-color: #f1f1f5;
   }
}
