.burger {
   &__icon {
      fill: lightgray;
      &_active {
         fill: var(--secondary-color);
      }
   }
   @media (any-hover: hover) {
      &:hover {
         border-color: white;
      }
   }
   @media (min-width: 1024px) {
      padding: 12px 10px;
      border: 1px solid rgba(255, 255, 255, 0.45);
      border-radius: 8px;
      transition: border-color ease 0.2s;
      &__icon {
         width: 28px;
         height: 24px;
         fill: white;
      }
   }
}
