.burger {
   &__icon {
      fill: lightgray;
      &_active {
         fill: rgb(var(--color-primary));
      }
   }
   @media (any-hover: hover) {
      &:hover {
         border-color: white;
      }
   }
   @media (min-width: 1024px) {
      padding: 12px 10px;
      border: 1px solid rgba(255, 255, 255, 0.45);
      border-radius: var(--br-normal);
      transition: border-color var(--transition-slow);
      &__icon {
         width: 28px;
         height: 24px;
         fill: white;
      }
   }
}
