.button {
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(var(--color-white));
   border-radius: var(--br-circle);
   &__icon {
      min-width: 10px;
      min-height: 10px;
      fill: rgb(var(--color-dark));
   }
   @media (any-hover: hover) {
      &:hover {
         background-color: rgba(var(--color-dark), 0.7);
         .button__icon {
            fill: rgb(var(--color-white));
         }
      }
   }
   @media (min-width: 1024px) {
      transition: background-color var(--transition-slow);
      &__icon {
         transition: fill var(--transition-slow);
      }
   }
}
