.cart {
   &__bottom {
      margin-top: 30px;
      background-color: white;
      border-radius: var(--br-large);
   }
   &__container {
      padding-top: 30px;
      padding-bottom: 50px;
      row-gap: 16px;
      column-gap: 10px;
      display: flex;
      flex-direction: column;
      &_column {
         flex-direction: column;
         row-gap: 30px;
      }
   }
   &__left {
      & section:not(:first-child) {
         margin-top: 16px;
      }
   }
   &__right {
      position: relative;
   }
   @media (min-width: 1200px) {
      &__container {
         flex-direction: row;
      }
      &__left {
         flex: 0 1 74%;
      }
      &__right {
         flex: 0 0 345px;
      }
   }
}
