.card {
   width: 100%;
   display: flex;
   justify-content: space-between;
   row-gap: 10px;
   &__body {
      display: flex;
      column-gap: 16px;
   }
   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

/* 
Стили для Entities
.card {
   flex-direction: row;
   &__checkbox {
      opacity: 0;
      transition: opacity var(--transition-slow);
      &_active {
         opacity: 1;
      }
   }
   &__image {
      flex: 0 0 96px;
      height: 128px;
   }
   &__price {
      width: 200px;
      text-align: right;
   }
   @media (any-hover: hover) {
      &:hover {
         .card__checkbox {
            opacity: 1;
         }
      }
   }
}
 */
