.skeleton {
   position: relative;
   background-color: var(--text-color-light-gray);
   border-radius: var(--br-large);
   overflow: hidden;
   &__animation {
      position: absolute;
      width: 10%;
      height: 110%;
      background-color: var(--white-color);
      filter: blur(20px);
      animation: skeletonAnimation 1.4s infinite 0.1s linear;
   }
}

@keyframes skeletonAnimation {
   0% {
      left: -100%;
   }
   100% {
      left: 100%;
   }
}
