.item {
   &__title {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--title-fs-small);
      font-weight: var(--fw-bold);
      line-height: var(--title-lh-small);
      cursor: pointer;
      @media (any-hover: hover) {
         &:hover {
            color: var(--tertiary-color);
            .item__icon {
               fill: var(--tertiary-color);
            }
         }
      }
   }
   &__icon {
      width: 16px;
      height: 16px;
      fill: rgba(var(--color-dark), 0.4);
   }
   @media (min-width: 1024px) {
      &__title {
         margin-bottom: 16px;
      }
      &__title,
      &__icon {
         transition: all var(--transition-slow);
      }
   }
}
