.body {
   margin-top: 30px;
   margin-bottom: 8px;
   font-size: var(--text-fs-normal);
   line-height: 22px;
   &__content {
      margin-bottom: 24px;
      max-width: 360px;
   }
   &__title {
      font-weight: var(--fw-bold);
      margin-bottom: 10px;
   }
   &__button {
      height: 44px;
   }
   @media (min-width: 1024px) {
      &__button {
         width: 207px;
      }
   }
}
