.label {
   padding: 16px 0;
   display: flex;
   align-items: center;
   column-gap: 11px;
   font-size: var(--text-fs-normal);
   font-weight: var(--fw-normal);
   line-height: var(--text-lh-big);
}
