.field {
   padding: 0 0 3px 0;
   position: relative;
   &__input {
      position: relative;
      width: 100%;
      border-bottom: 1px solid var(--border-color-gray);
      cursor: text;
      z-index: 1;
      &_error {
         color: var(--text-color-error);
         border-color: var(--border-color-error);
      }
   }
   &__input,
   &__label {
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-normal);
   }
   &__label {
      top: 0;
      left: 0;
      position: absolute;
      color: var(--text-color-gray);
      transition: all ease 0.3s;
      &_active {
         top: -70%;
         font-size: var(--text-fs-smallest);
         line-height: var(--text-lh-smallest);
      }
      &_error {
         color: var(--text-color-error);
      }
   }
   &__error {
      position: absolute;
      bottom: -16px;
      left: 0;
      font-size: var(--text-fs-smallest);
      line-height: var(--text-lh-smallest);
      color: var(--text-color-error);
   }
}
