.field {
   padding: 0 0 3px 0;
   position: relative;
   &__input {
      width: 100%;
      border-bottom: 1px solid rgb(var(--color-border-black), var(--opacity-20));
      &_error {
         color: rgb(var(--colors-text-error));
         border-color: rgb(var(--color-border-error));
      }
   }
   &__input,
   &__label {
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-normal);
   }
   &__label {
      top: 0;
      left: 0;
      position: absolute;
      color: rgb(var(--colors-text-gray));
      transition: all var(--transition-slow);
      &_active {
         top: -70%;
         font-size: var(--text-fs-small);
         line-height: var(--text-lh-smallest);
      }
      &_error {
         color: rgb(var(--colors-text-error));
      }
   }
   &__error {
      position: absolute;
      bottom: -16px;
      left: 0;
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-smallest);
      color: rgb(var(--colors-text-error));
   }
}
