.field {
   padding: 0 0 3px 0;
   position: relative;
   &__input {
      position: relative;
      width: 100%;
      border-bottom: 1px solid rgba(var(--color-dark), 0.2);
      cursor: text;
      z-index: 1;
      &_error {
         color: rgb(var(--color-error));
         border-color: rgb(var(--color-error));
      }
   }
   &__input,
   &__label {
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-normal);
   }
   &__label {
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(var(--color-dark), 0.5);
      transition: all var(--transition-slow);
      &_active {
         top: -70%;
         font-size: var(--text-fs-small);
         line-height: var(--text-lh-small);
      }
      &_error {
         color: rgb(var(--color-error));
      }
   }
   &__error {
      position: absolute;
      bottom: -16px;
      left: 0;
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-small);
      color: rgb(var(--color-error));
   }
}
