.method {
   width: 100%;
   height: 100%;
   display: flex;

   justify-content: space-between;
   &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   @media (min-width: 1024px) {
      flex-direction: column;
      @media (any-hover: hover) {
         &:hover {
            .button__delete {
               opacity: 1;
            }
         }
      }
   }
}

.button {
   @media (min-width: 1024px) {
      &__delete {
         opacity: 0;
         transition: opacity ease 0.3s;
      }
   }
}
