.order {
   padding: 24px;
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   &__info {
      display: flex;
      flex-direction: column;
      row-gap: 9px;
   }
   &__title {
      font-size: var(--title-fs-large);
      font-weight: var(--fw-bold);
      line-height: var(--title-lh-small);
      letter-spacing: -0.24px;
      display: flex;
      justify-content: space-between;
   }
   &__count {
      font-size: var(--text-fs-normal);
      font-weight: var(--fw-normal);
      line-height: var(--text-lh-big);
      display: flex;
      justify-content: space-between;
   }
   &__bottom {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
   }
   &__button {
      height: 44px;
   }
   &__agreement {
      display: flex;
      align-items: start;
      column-gap: 8px;
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-normal);
   }
   &__icon {
      width: 24px;
      fill: black;
   }
   @media (min-width: 1024px) {
      position: sticky;
      top: 0;
      right: 0;
   }
}
