.select {
   &__wrapper {
      width: 285px;
      font-size: var(--text-fs-normal);
      line-height: 175%;
   }
   &__output {
      height: 44px;
      padding: 7px 38px 7px 12px;
      border: 1px solid #d3d4dd;
      border-radius: var(--br-normal);
      cursor: pointer;
      background-color: #fff;
   }
   &__options {
      min-width: 100%;
      position: fixed;
      left: 0;
      z-index: 20;
      color: #242424;
      padding: 12px;
      background: #fff;
      border-radius: var(--br-normal);
      box-shadow: 0 0 20px rgba(var(--color-black), var(--opacity-10));
      z-index: 10;
   }
   &__option {
      padding: 8px;
      cursor: pointer;
      border-radius: var(--br-normal);
      transition: background-color var(--transition-slow);
      text-align: center;
      &_active {
         background-color: rgba(0, 0, 0, 0.03);
      }
   }
   @media (min-width: 1024px) {
      &__wrapper {
         position: relative;
      }
      &__options {
         position: absolute;
         top: calc(100% + 8px);
      }
      &__option {
         text-align: left;
         &_active {
            color: green;
         }
         @media (any-hover: hover) {
            &:hover {
               background-color: rgba(0, 0, 0, 0.03);
            }
         }
      }
   }
   @media (max-width: 1024px) {
      &__options {
         bottom: 0;
      }
   }
}
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(var(--color-dark), var(--opacity-10));
   z-index: 5;
}
