.notification {
   width: 230px;
   padding: 15px;
   display: flex;
   align-items: center;
   column-gap: 12px;
   font-size: var(--text-fs-small);
   background-color: rgb(var(--color-dark));
   border-radius: var(--br-normal);
   color: rgb(var(--color-white));
   &__icon {
      width: 14px;
      height: 14px;
      fill: rgb(var(--color-white));
   }
}
