.slider {
   position: relative;
   width: 100%;
   max-width: 100%;
   overflow-x: auto;
   &__wrapper {
      top: 0;
      left: 0;
      display: flex;
      @media (min-width: 1024px) {
         width: 100%;
         position: relative;
         transition: left ease-in-out 0.5s;
      }
   }
   &__button {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 170px;
      background-color: white;
      border-radius: 100%;
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
      z-index: 5;
      &_prev {
         left: 0;
         transform: translateX(-100%);
         svg {
            transform: rotate(-90deg);
         }
      }
      &_next {
         right: 10px;
         transform: translateX(50%);
         svg {
            transform: rotate(90deg);
         }
      }
      &:disabled {
         opacity: 0;
         visibility: hidden;
      }
      svg {
         fill: black;
      }
   }
   &::-webkit-scrollbar {
      display: none;
   }
   @media (min-width: 1024px) {
      margin-top: 30px;
      margin: -16px -16px -200px;
      padding: 16px 16px 200px;
   }
}
