.layout {
   &__main {
      position: relative;
      padding: 22px 0 50px;
      flex: 0 0 300px;
      background-color: var(--background-color);
      z-index: 1;
      @media (min-width: 1024px) {
         border-radius: 24px;
      }
   }
   &__notification {
      position: fixed;
      transform: translateX(-50%);
      z-index: 10;
   }
}
