.layout {
   &__main {
      padding: 16px 0 32px;
      position: relative;
      background-color: rgb(var(--colors-background));
      z-index: 1;
      flex: 1 1 auto;
   }
   &__notification {
      position: fixed;
      transform: translateX(-50%);
      z-index: 10;
   }
   &__button {
      width: 48px;
      height: 48px;
      bottom: 20px;
      left: 20px;
      svg {
         width: 20px;
         height: 20px;
      }
   }
   @media (min-width: 1024px) {
      &__main {
         padding: 24px 0px 48px;
         background-color: #ffffff;
      }
   }
}
