.layout {
   &__main {
      padding: 16px 0 32px;
      position: relative;
      background-color: var(--background-color);
      z-index: 1;
      flex: 1 1 auto;
   }
   &__notification {
      position: fixed;
      transform: translateX(-50%);
      z-index: 10;
   }
   @media (min-width: 1024px) {
      &__main {
         padding: 24px 0px 48px;
         background-color: #ffffff;
      }
   }
}
