.metrics {
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
   }
   &__item,
   &__title {
      font-size: var(--title-fs-small);
      line-height: var(--title-lh-small);
   }
   &__item {
      padding: 10px 12px;
      background-color: rgba(var(--color-dark), 0.04);
      border-radius: var(--br-normal);
   }
   &__value {
      font-size: var(--text-fs-big);
      font-weight: var(--fw-bold);
      line-height: var(--text-lh-small);
   }
   &__label,
   &__title {
      color: rgba(var(--color-dark), 0.5);
   }
   &__title {
      margin-top: 8px;
   }
   @media (max-width: 768px) {
      &__item {
         display: flex;
         justify-content: space-between;
      }
   }
   @media (min-width: 768px) {
      &__list {
         flex-direction: row;
         column-gap: 8px;
      }
      &__item {
         padding: 14px;
         flex: 0 0 calc((100% - 16px) / 3);
      }
   }
   @media (min-width: 1024px) {
      padding: 20px 16px;
      &__item {
         flex: 0 0 25%;
      }
      &__title {
         margin-top: 16px;
      }
   }
}
