.delivery {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   &__top {
      width: 100%;
   }
   &__bottom {
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-small);
   }
   &__title {
      margin-bottom: 8px;
   }
   &__image {
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid #fff;
      border-radius: var(--br-circle);
   }
   &__icon {
      width: 17px;
      height: 19px;
      fill: rgb(var(--color-primary));
   }
   &__label {
      color: #868695;
   }
   @media (min-width: 1024px) {
      flex-direction: column;
      &__top {
         display: flex;
         align-items: center;
         column-gap: 20px;
      }
      &__bottom {
         font-size: var(--text-fs-normal);
         line-height: var(--text-lh-smallest);
      }
      &__image {
         width: 88px;
         height: 88px;
      }
      &__icon {
         width: 25px;
         height: 31px;
      }
      h2 {
         font-size: var(--text-fs-big);
         line-height: var(--title-lh-large);
      }
   }
}
