.purchases {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   &__bottom {
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-small);
      color: #868695;
   }
   @media (min-width: 1024px) {
      align-items: stretch;
      flex-direction: column;
      row-gap: 8px;
      &__bottom {
         font-size: var(--text-fs-normal);
         line-height: var(--title-lh-normal);
      }
   }
}
