.dropdown {
   width: 240px;
   padding: 10px 16px;
   background-color: white;
   border-radius: 16px;
   box-shadow: 0 0 16px rgba(#000000, 0.1);
   &__list {
      margin-top: 20px;
   }
   &__item {
      width: 100%;
      cursor: pointer;
      &:not(:first-child) {
         margin-top: 8px;
      }
   }
   &__link {
      width: 100%;
      display: flex;
      column-gap: 10px;
   }
   &__icon {
      width: 20px;
      height: 20px;
      svg {
         fill: #000000;
         transition: fill ease 0.3s;
      }
   }
   &__text {
      color: #000000;
      transition: color ease 0.3s;
   }
   &__button {
      margin-top: 10px;
      font-size: inherit;
      color: rgba(#000000, 0.5);
      transition: color ease 0.3s;
   }
   @media (any-hover: hover) {
      &__item:hover {
         .dropdown__text {
            color: var(--tertiary-color);
         }
         .dropdown__icon {
            svg {
               fill: var(--tertiary-color);
            }
         }
      }
      &__button:hover {
         color: rgba(#000000, 1);
      }
   }
}
