.link {
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__wrapper {
      position: relative;
   }
   &__icon {
      width: 24px;
      height: 24px;
      fill: rgb(var(--color-black)), var(--opacity-30);
   }
   &__count {
      position: absolute;
      min-width: 16px;
      height: 16px;
      padding: 2px 3px 1px;
      top: -6px;
      right: -8px;
      text-align: center;
      font-size: var(--text-fs-count);
      line-height: var(--text-lh-small);
      color: rgb(var(--color-white));
      background-color: rgb(var(--color-orange));
      border-radius: var(--br-large);
   }
   &__label {
      display: none;
   }
   &_active {
      .link__icon {
         fill: rgb(var(--color-secondary));
      }
   }

   @media (min-width: 1024px) {
      &__icon {
         fill: rgb(var(--color-white));
      }
      &__label {
         display: block;
         font-size: var(--text-fs-small);
         color: rgb(var(--color-white),var(--opacity-60));
         transition: color var(--transition-slow);
      }
      &_active {
         .link__icon {
            fill: rgb(var(--color-white));
         }
      }
   }
   @media (any-hover: hover) {
      &__body:hover &__label {
         color: rgb(var(--color-white));
      }
   }
}
