.link {
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__wrapper {
      position: relative;
   }
   &__icon {
      width: 24px;
      height: 24px;
      fill: var(--light-black-color);
   }
   &__count {
      position: absolute;
      min-width: 16px;
      height: 16px;
      padding: 2px 3px 1px;
      top: -6px;
      right: -8px;
      text-align: center;
      font-size: 10px;
      line-height: 130%;
      color: rgb(255, 255, 255);
      background-color: var(--orange-color);
      border-radius: var(--br-large);
   }
   &__label {
      display: none;
   }
   &_active {
      .link__icon {
         fill: var(--secondary-color);
      }
   }

   @media (min-width: 1024px) {
      &__icon {
         fill: var(--white-color);
      }
      &__label {
         display: block;
         font-size: var(--text-fs-small);
         color: var(--light-gray-color);
         transition: color var(--transition-slow);
      }
      &_active {
         .link__icon {
            fill: var(--white-color);
         }
      }
   }
   @media (any-hover: hover) {
      &__body:hover &__label {
         color: var(--white-color);
      }
   }
}
