.logo {
   font-size: var(--title-fs-big);
   line-height: 0.8;
   letter-spacing: 0.56px;
   font-weight: var(--fw-medium);
   @media (min-width: 1024px) {
      font-size: var(--title-fs-big);
   }
}
