.body {
   &__information {
      margin-bottom: 72px;
   }
   &__title {
      font-size: var(--title-fs-large);
      line-height: var(--title-lh-small);
      font-weight: var(--fw-bold);
      margin-bottom: 20px;
      &_not_found {
         margin-bottom: 12px;
      }
   }
}
