.select {
   &__wrapper {
      width: 285px;
      font-size: var(--text-fs-normal);
      line-height: var(--text-lh-big);
      line-height: 0.8;
   }
   &__output {
      height: 44px;
      padding: 7px 38px 7px 12px;
      display: flex;
      align-items: center;
      background-color: rgb(var(--color-white));
      border: 1px solid rgba(var(--color-dark), 0.2);
      border-radius: var(--br-normal);
      cursor: pointer;
   }
   &__options {
      min-width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 12px;
      color: rgba(var(--color-dark), 0.8);
      background: rgb(var(--color-white));
      border-radius: var(--br-normal);
      box-shadow: 0 0 20px rgba(var(--color-dark), 0.06);
      z-index: 10;
   }
   &__option {
      padding: 10px;
      text-align: center;
      border-radius: var(--br-normal);
      transition: background-color var(--transition-slow);
      cursor: pointer;
      &_active {
         background-color: rgba(var(--color-dark), 0.06);
      }
   }
}

.backdrop {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(var(--color-dark), 0.5);
   z-index: 5;
}
