.item {
   padding: 16px 12px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 8px;
   width: 100%;
   height: 100%;
   background-color: #ffffff;
   border-radius: 14px;
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
   transition: box-shadow ease 0.3s;
   &__bottom {
      font-size: 12px;
      line-height: 133%;
   }
   &__label {
      color: #868695;
   }
   h2 {
      transition: color ease 0.2s;
      font-size: 14px;
      line-height: 143%;
      font-weight: 700;
   }
   @media (any-hover: hover) {
      &:hover {
         box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
         h2 {
            color: var(--secondary-color);
         }
      }
   }
   @media (min-width: 1024px) {
      padding: 28px;
      flex-direction: column;
      &__bottom {
         font-size: 16px;
         line-height: 125%;
      }
      h2 {
         font-size: 20px;
         line-height: 140%;
      }
   }
}
