.item {
   padding: 16px 12px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 8px;
   width: 100%;
   height: 100%;
   background-color: #ffffff;
   border-radius: var(--br-normal);
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
   transition: box-shadow var(--transition-slow);
   &__bottom {
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-small);
   }
   &__label {
      color: #868695;
   }
   h2 {
      transition: color var(--transition-slow);
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-normal);
      font-weight: var(--fw-bold);
   }
   @media (any-hover: hover) {
      &:hover {
         box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
         h2 {
            color: rgb(var(--color-primary));
         }
      }
   }
   @media (min-width: 1024px) {
      padding: 28px;
      flex-direction: column;
      &__bottom {
         font-size: var(--text-fs-normal);
         line-height: var(--text-lh-smallest);
      }
      h2 {
         font-size: var(--title-fs-normal);
         line-height: var(--title-lh-large);
      }
   }
}
