.checkbox {
   width: 22px;
   height: 22px;
   border: 2px solid rgba(var(--color-dark), .4);
   border-radius: var(--br-normal);
   background-color: rgb(var(--color-white));

   &_active {
      background-color: rgb(var(--color-primary));
      border: 2px solid rgb(var(--color-primary));
   }
   &__mark {
      filter: invert(100%);
   }
   &:hover {
      cursor: pointer;
   }
}
