.field {
   width: 100%;
   height: 100%;
   padding: 16px 120px 16px 48px;
   display: flex;
   align-items: center;
   column-gap: 10px;
   font-size: var(--text-fs-normal);
   line-height: var(--text-lh-small);
   background-color: rgb(var(--color-white));
   border-radius: var(--br-large);
   transition: background-color var(--transition-slow);
   &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &_loop {
         left: 20px;
         svg {
            width: 16px;
            height: 17px;
         }
      }
      &_cross {
         right: 20px;
         svg {
            width: 14px;
            height: 14px;
         }
      }
      svg {
         fill: rgba(var(--color-dark), var(--opacity-60));
         transition: fill var(--transition-slow);
      }
   }
   &::placeholder {
      color: rgba(var(--color-dark), 0.6);
   }
}
