.order {
   row-gap: 16px;
   &,
   &__info,
   &__bottom {
      display: flex;
      flex-direction: column;
   }
   &__info,
   &__bottom {
      row-gap: 8px;
   }
   &__button {
      height: 44px;
   }
   @media (min-width: 1024px) {
      position: sticky;
      top: 0;
      right: 0;
   }
}
