.discount {
   width: 100%;
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--text-fs-normal);
      line-height: var(--title-lh-large);
      font-weight: var(--fw-bold);
      span {
         color: rgb(var(--color-primary));
         font-size: var(--text-fs-small);
         line-height: var(--text-lh-small);
         font-weight: 600;
      }
   }
   &__value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 88px;
      height: 88px;
      border: 4px solid rgb(var(--color-secondary));
      border-radius: var(--br-circle);
   }
   &__text {
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-small);
   }
   &__label {
      color: #868695;
   }
   @media (min-width: 1024px) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__top {
         column-gap: 20px;
         justify-content: stretch;
         span {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
         }
      }
      &__bottom {
         font-size: var(--text-fs-normal);
         line-height: var(--text-lh-smallest);
      }
      &__indicators {
         margin-top: 6px;
      }
      &__number {
         font-weight: var(--fw-bold);
      }
      h2 {
         font-size: var(--text-fs-normal);
         line-height: var(--title-lh-large);
      }
   }
}
