.button {
   &__icon {
      width: 10px;
      height: 10px;
      fill: gray;
   }
   @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: var(--br-circle);
      background-color: #ffffff;
      transition: background-color var(--transition-slow);
      &__icon {
         width: 8px;
         height: 8px;
         transition: fill var(--transition-slow);
      }
      @media (any-hover: hover) {
         &:hover {
            background-color: rgb(var(--color-secondary));
            .button__icon {
               fill: #ffffff;
            }
         }
      }
   }
}
