.footer {
   margin-top: -34px;
   padding: 68px 0;
   flex: 0 0 none;
   background-color: rgb(var(--color-primary));
   &__container {
      padding: 0 10px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
   }
   & &__column {
      padding: 12px 0;
      color: rgb(var(--color-white));
   }
}
