.payment {
   &__title {
      margin-bottom: 8px;
   }
   &__label {
      color: #868695;
      font-size: 12px;
      line-height: 133%;
   }
   @media (min-width: 1024px) {
      &__label {
         font-size: 16px;
         line-height: 138%;
      }
   }
}
