.order {
   position: sticky;
   top: 0;
   right: 0;
   row-gap: 16px;
   &,
   &__info,
   &__bottom {
      display: flex;
      flex-direction: column;
   }
   &__info,
   &__bottom {
      row-gap: 8px;
   }
   &__button {
      height: 44px;
   }
   &__agreement {
      display: flex;
      column-gap: 8px;
      font-size: var(--text-fs-small);
      line-height: var(--text-lh-normal);
   }
   &__icon {
      width: 14px;
      height: 14px;
      fill: rgb(var(--color-dark));
   }
}
