.notification {
   width: 230px;
   padding: 15px;
   display: flex;
   align-items: center;
   column-gap: 12px;
   font-size: var(--text-fs-small);
   background-color: #2e2e2e;
   border-radius: var(--br-normal);
   color: white;
   &__icon {
      width: 14px;
      height: 14px;
      fill: white;
   }
}
