.field {
   width: 100%;
   height: 100%;
   padding: 10px 40px 10px 40px;
   display: flex;
   align-items: center;
   column-gap: 10px;
   border-radius: var(--br-big);
   font-size: var(--text-fs-normal);
   line-height: var(--text-lh-small);
   background-color: rgb(var(--color-dark),var(--opacity-60));
   transition: background-color var(--transition-slow);
   &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &_loop {
         left: 14px;
         svg {
            width: 16px;
            height: 17px;
         }
      }
      &_cross {
         right: 20px;
         svg {
            width: 12px;
            height: 12px;
         }
      }
      svg {
         fill: rgb(var(--color-black), var(--opacity-30));
      }
   }

   @media (min-width: 1024px) {
      padding: 16px 120px 16px 48px;
      color: var(--text-color-light-gray);
      background-color: rgb(var(--colors-background-white), var(--opacity-20));
      &__button {
         &_loop {
            left: 20px;
         }
         &_cross {
            svg {
               width: 14px;
               height: 14px;
            }
         }
         svg {
            fill: rgb(var(--color-white), var(--opacity-60));
            transition: fill var(--transition-slow);
         }
         @media (any-hover: hover) {
            &:hover {
               svg {
                  fill: rgb(var(--color-white));
               }
            }
         }
      }
      &::placeholder {
         color: rgb(var(--colors-text-white), var(--opacity-60));
      }
      &:focus ~ &__button {
         svg {
            fill: rgb(var(--color-black),var(--opacity-60));
         }
      }
      @media (any-hover: hover) {
         &:hover {
            background-color: rgb(var(--colors-text-white), var(--opacity-60));
         }
      }
      &:focus {
         color: rgb(var(--colors-text-dark));
         background-color: rgb(var(--colors-background));
      }
   }
}
