.discount {
   color: var(--tertiary-color);
   &__content {
      display: flex;
      align-items: baseline;
   }
   &__text {
      font-size: 14px;
      line-height: 20px;
      margin-right: 8px;
   }
   @media (min-width: 1024px) {
      &__text {
         font-size: 12px;
      }
   }
}
