.button {
   padding: 5px 20px 7px;
   &_disabled {
      color: var(--secondary-color);
      background-color: transparent;
      &:hover {
         color: #d83bbe;
         background: none;
      }
   }
}
