.user {
   display: flex;
   align-items: center;
   column-gap: 20px;
   &__name {
      display: flex;
      column-gap: 8px;
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
      &:not(:last-child) {
         margin-bottom: 4px;
      }
   }
   &_mobile {
      .user__image {
         height: 60px;
         width: 60px;
      }
      .user__name {
         font-size: 14px;
         line-height: 143%;
      }
      .user__label {
         font-size: 12px;
         line-height: 133%;
         color: #868695;
      }
   }
}
