.item {
   &__wrapper {
      height: 100%;
      padding: 16px 12px;
      display: flex;
      justify-content: space-between;
   }
   &__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 143%;
      color: rgb(36, 36, 36);
      transition: color ease 0.2s;
   }
   &__content {
      font-size: 12px;
      line-height: 133%;
   }
   @media (min-width: 1024px) {
      &__wrapper {
         padding: 28px;
         flex-direction: column;
      }
      &__title {
         font-size: 20px;
         line-height: 140%;
      }
      &__content {
         font-size: 16px;
         line-height: 125%;
      }
   }
   @media (any-hover: hover) {
      &:hover {
         .item__title {
            color: var(--tertiary-color);
         }
      }
   }
}
