.checkbox {
    width: 22px;
    height: 22px;
    border: 2px solid #a9a8b0;
    border-radius: 6px;
    background-color: #fff;

    &_active {
        background-color: #a73afd;
        border: 2px solid #a73afd;
    }
    &__mark {
        filter: invert(100%);
    }
    &:hover {
        cursor: pointer;
    }
}
