.payments {
   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
   }
   &__item {
      display: flex;
      align-items: center;
      @media (any-hover: hover) {
         &:hover {
            .payments__label {
               color: rgb(var(--color-primary));
            }
         }
      }
   }
   &__card {
      width: 100%;
      height: 100%;
   }
   &__body {
      width: 100%;
      height: 100%;
      padding: 12px;
      display: flex;
      align-items: center;
      column-gap: 12px;
   }
   &__icon {
      width: 28px;
      height: 20px;
   }

   @media (min-width: 1024px) {
      &__list {
         flex-direction: row;
         flex-wrap: wrap;
         gap: 24px;
      }
      &__item {
         min-height: 156px;
         flex: 0 0 calc((100% - (24px * 3)) / 4);
      }
      &__body {
         flex-direction: column;
         justify-content: center;
         row-gap: 16px;
         cursor: pointer;
      }
      &__label {
         transition: color var(--transition-slow);
      }
      &__icon {
         width: 32px;
         height: 32px;
      }
   }
}
